<div class="main-body">
    <div class="container-fluid" style="background-color: rgb(244,244,244);">
        <div class="justify-content-center pt-3">
            <div class="row">
                <h1 class="text-center my-2" style="font-weight: 500;"> Embase QA Library </h1>
            </div>

        </div>
        <div class="row justify-content-center mb-md-4 mb-1">
            <div class="col-lg-5 col-md-8">
                <div class="text-container active">
                    <button mat-icon-button="" class="mat-focus-indicator mat-icon-button mat-button-base">
                        <span class="mat-button-wrapper ">
                            <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-nocolor"
                                aria-hidden="true" data-mat-icon-type="font">search</mat-icon>
                        </span>
                        <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>
                        <span class="mat-button-focus-overlay"></span>
                    </button>
                    <input [(ngModel)]="placeholder" class="name" name="PName" (click)="getBooks()" (input)="changeKeyValue($event)"
                        [(ngModel)]="key" >
                   
                            <mat-select  (click)="getBook()">
                                <mat-option value="Title" (click)="Title(value)" (click)="getBook()">Title</mat-option>
                                <mat-option value="" (click)="Author(placeholder)" >Author</mat-option>
                                <mat-option value=""(click)="Subject()">Subject</mat-option>
                                <mat-option value="" (click)="Callno()">Call Number</mat-option>
                                <mat-option value=""(click)="Icbn()">ICBN</mat-option>
                                <mat-option value=""(click)="Ddc()">DDC</mat-option>
                              </mat-select>
                        <mat-menu yposition="below" xposition="before" class="">Title</mat-menu>
                    
                </div>
            </div>
            <div class="col-md-2">
                <button mat-flat-button="" class="mat-focus-indicator search-button mat-flat-button mat-button-base"
                    style="border: radius 50px;">
                    <span class="mat-button-wrapper active" (click)="getBooks()"> Search </span>
                    <span matripple="" class="mat-ripple mat-button-ripple"></span>
                    <span class="mat-button-focus-overlay"></span>
                </button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="row">
                <div class="col-md-2 " style="">
                    <div class="search-data active">
                        <span class="search-headers">Refined Search</span>
                        <div mat-subheader="" class="mat-subheader">Author</div>

                        <mat-list role="list" class='authors maxHeight maxWidth'>
                            <mat-list-item role="listitem" *ngFor='let item of sliceArray(0,5)'
                                (click)="changeAuthor(item?.first_name)"
                                (click)="getBooks()">{{item.first_name}}</mat-list-item>


                        </mat-list>

                        <div class="button">
                            <span class="show-less " (click)="toggleShowMore()">{{ showMoreContent ? 'Show Less' : 'ShowMore' }}</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>

                        <mat-divider role="separator" class="mat-divider mat-divider-horizontal"
                            aria-orientation="horizontal">

                        </mat-divider>
                        <div mat-subheader="" class="mat-subheader">Subject</div>

                        <mat-list role="list" class='authors maxHeight maxWidth'>
                            <mat-list-item role="listitem" *ngFor='let item of sliceArray2(0,5)'
                                (click)='changeSubject(item?.book_subject)'
                                (click)="getBooks()">{{item.book_subject}}</mat-list-item>
                        </mat-list>
                        <div class="button">
                            <span class="show-less " (click)="toggleShowMore()">{{ showMoreContent ? 'Show Less' :
                                'ShowMore' }}</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>



                    </div>
                </div>

                <div class="col-lg-10">
                    <div class="row" *ngIf="flag==1" style="height: 43px;">

                        <div class="row sidenav-content-head">
                            <div class="col-lg-8 my-1 d-flex justify-content-between" >
                                <span (click)="getBooks()" class="search-headers ng-star-inserted">Showing
                                {{from}}-{{to}}from {{total}} Books</span>
                            </div>

                            <div class=" d-flex align-items-center justify-content-end" style="margin-left: auto;">
                                <mat-icon role="img"
                                    class="mat-icon notranslate mr-1 unavailable-books material-icons mat-icon-no-color"
                                    style="color: transparent; border-radius: 50%; height: 18px; width: 18px;"
                                    data-mat-icon-type="font">radio_button_unchecked</mat-icon>
                                <span style="margin-left: 4px;">Book not available for loan</span>
                            </div>


                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="row sidenav-no-content" *ngIf="flag!=1">
                        <div class="" style="height: 43px;">
                            <!-- <div class="col-lg-8 my-1 d-flex justify-content-between"> -->
                            <span _ngcontent-bks-c56="" class="search-headers ng-star-inserted">Recent searches</span>
                        </div>
                        <div class="col-12 d-flex flex-column justify-content-center align-items-center"
                            style="width:100%">
                            <span class="material-icons"
                                style="color: rgb(224, 224, 224); font-size: 240px; text-align: center;margin-top:10vh;margin-left:70px">
                                find_in_page </span>
                            <h3 class="text-center" style="color: #959595;"> No recent searches </h3>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-column justify-content-center align-items-center " *ngIf="key==''">
                        <img src="assets/images/images4.png" style="color: grey;" *ngIf="flag!==0">
                        <h3 class="text-center ng-star-inserted" style="color: #959595;" *ngIf="flag!==0"> No results
                            found
                            for the searcch,check the keyword and try again </h3>
                    </div>



                    <div class="row" *ngIf="key!==''">

                        <div class="col-lg-4 col-md-6"  *ngFor='let item of book_detailes'>
                            <button style="width:100%; height: 200px; margin: 5px;border: none;" mat-button (click)="openDialog(item)">

                            <mat-card class="example-card" style="width: 100%; ">
                           

                                    <div class="info-section" style="width:100%; height: 120px; " >

                                        <img mat-card-sm-image src="{{item.book_image_url==null?'assets/images/image3.png':item.book_image_url}}"
                                            style="width: 100px; height: 100px;  border-radius: 5px;">

                                        <div class=" book-info" style="margin-left: 35%; margin-top: -100px;">
                                            <span class="book-title"
                                                style="font-weight: 600; ">{{item.book_title}}</span>
                                            <span class="book-description"
                                                style="font-weight: 500;font-size: 12px;">{{item.book_subject}}</span>
                                            <div class="book-extra-info" style="height: 20px;padding: auto;">
                                                <div>Author</div>
                                                <div class="d-flex">
                                                    <span> : </span>
                                                    <div style="">{{item.author}}</div>
                                                </div>
                                            </div>
                                            <div class="book-extra-info" style="height: 20px;padding: auto;">
                                                <div>Publisher</div>
                                                <div class="d-flex">
                                                    <span>:</span>
                                                    <div style="padding-left: 5px;">{{item.publisher_name}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="book-nos">
                                        <span class="w-50">Call N0 : {{item.call_number}}</span>
                                        <span class="w-50">ISBN : {{item.isbn_number}}</span>
                                    </div>
                                    <div class="book-nos">
                                        <span class="w-50">DDC : {{item.ddc_id}}</span>
                                        <span class="w-50">SUB DDC : {{item.ddc_sub_id}}</span>
                                    </div>
                                </mat-card>
                            </button>
                         </div>
                        </div>


                      <div class="pagination justify-content-center" *ngIf="key!=''">
                        <mat-select class='mat-select'[(ngModel)]="pagesize" (selectionChange)="getBooks()">
                            <mat-option [value]="5">5</mat-option>
                            <mat-option [value]="10">10</mat-option>
                            <mat-option [value]="15">15</mat-option>
                            <mat-option [value]="20">20</mat-option>
                              </mat-select>
                              <div class="" >
                                 <mat-icon role="img"class=' navigation-button_pages mat-icon mat-icon-no-color'aria-hidden='true' data-mat-icon-type="font"(click)="decrement()"  >chevron_left
        
                                </mat-icon>
                             </div> 
                                 <div class="button" [(ngModel)]="pagesize" >
                                    <button class="navigation-button_pages" (click)="getBooks()" [value]="current_page">{{current_page}}</button>
                                    <!-- <button class="navigation-button_pages"(click)="getNewBooks()" [value]="current_page+1">{{current_page+1}}</button>
                                    <button  class="navigation-button_pages" (click)="getNewBooks()"[value]="current_page+2">{{current_page+3}}</button>
                                    <button  class="navigation-button_pages"(click)="getBooks()"[value]="current_page">{{page}}</button>
                                    <button class="navigation-button_pages"(click)="getBooks()"[value]="current_page">{{page}}</button> -->
                                </div>

                                 <div class="">
                                
                                    <mat-icon role="img"class='navigation-button_pages mat-icon mat-icon-no-color'aria-hidden='true' data-mat-icon-type="font" [(ngModel)]="pagesize" (click)="increment()">chevron_right
            
                                    </mat-icon>
                    
                                </div>
                                 
                                </div>



                       



               
</div>
            </div>

        </div>
    </div>
</div>