.mb-md-4 {
    margin-bottom: 1.5rem!important;
}
.col-md-8 {
    flex: 0 0 auto;
}
.col-md-1 {
    flex: 0 0 auto;
}


.text-container{
    display: flex;
   
    padding: 0;
    height: 45px;
    background-color: #fff;
    
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
    
}
    .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        line-height: 40px;
        border-radius: 0%;
    }
    input, button, select, optgroup, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        width: 415px;
    height: 45px;
    }

.mat-button-ripple.mat-ripple, .mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}
.mat-button .mat-button-focus-overlay, .mat-icon-button .mat-button-focus-overlay {
    opacity: 0;}
    .mat-icon-button{
    border-radius: 0%;
    border: none;
}
    .text-container div.selection{
        
        display: flex;
        border: 1px solid rgba(66,64,64,.151);
        border-radius: 5px;
        padding: 0;
        height: 45px;
        background-color: #fff;
    }
    .mat-menu{
        display: none;
    }
    .col-md-1 {
        flex: 0 0 auto;
        
    }
    .search-button{
        background-color: #0880ae;
        width: 100px;
        color: #fff;
    }
    .mat-button-focus-overlay {
        opacity: 0;
        transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1),background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
    }
    .mat-icon {
        -webkit-user-select: none;
        user-select: none;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
       margin: 5px;
    }
    .row-fluid {
        margin-left: 0px;
      visibility: visible;
    
    }    
    .search-data{
visibility: visible;
    }
        
    
            

        
       
        
        
        .mat-sidenav-container{
            width: 220px;
            height: 574px;
            visibility: visible;
            
        
        }
        .search-item{

        justify-content: space-around;
        padding: 15px;
        }
        mat-card{
            flex: 1;
            flex-direction: column;
            display: flex;
            cursor: pointer;
        }
        
       
        
        .search-headers {
            color:black;
            font-weight: 500px;
        }
        .mat-subheader {
            color: #000;
            padding: 5px 0;
            font-weight: 500px;
        }

      
        
           
        .mat-sidenav-content{
            width:600px;
            height: 574px;
        }
        mat-sidenav{
            visibility: visible;
            display: block
        }
        .mat-nav-list{
            padding: 25px;
        }
        .info-section{
width: 100%;


display: flex;
flex-direction: column;

        }
        

        
        .book-info{
            display: flex;
    flex-direction: column;
    padding: 2px 5px;

   

        }
        
        .book-extra-info {
            color: #767676;
            font-weight: 500;
            font-size: 12px;
            display: flex;
            margin-left: 15px;
            
        }
        .book-nos {
        display: flex;
    justify-content: space-between;
    color: #767676;
    font-weight: 500;
    margin-top: auto;
    font-size: 12px;}
       .text-container:hover{
        border-color: #0880ae;
       
       }   
       mat-list-item:hover{
background-color: #0880ae;
       } 
       .pagination a.active {
        background-color: dodgerblue;
        color: white;
      }
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
     
    
        
        .authors.maxHeight{
            max-height: 40vh;
            overflow-y: auto;
           overflow-x: hidden;
        }
        .expand-button{
            color: #0880ae;
            padding: 2rem 0;
        }
        .show-less{
            color: #0880ae;
            padding: 2rem 0;
        }
    
        
        mat-card{
            
            padding: 0px;
        
        }
        .option{
            padding: 50px;
            display: flex;
        }
        .mat-list-item{
            font-weight: 500;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 5px;
            display: flex;
            margin: 5px 0;
            
        }
        mat-paginator{
            margin-bottom: 0px;
        }
        
        .mat-paginator-page-size {
            display: flex;
            align-items: baseline;
            margin-right: 8px;
            margin-bottom: 0px;
            margin-top: 40px;
            align-items: flex-end;
        }
        h3{
            margin-left: 90px;
        }
        .ngx-pagination{
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .ngx-pagination li{
            width: 35%;
            height: 35px;
            border-radius: 50%;
            background-color: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
        }


.examble-card{
    
}
.mat-icon-button{
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.name{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
}
mat-select{
    padding: 11px;
    background: #ececec;
    border-radius: 0 5px 5px 0;
    margin-right: 0;
    margin-left: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #000;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    overflow-x: scroll;
}
.mat-select{
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: 10px;
    width: 90px;
}
.navigation-button {
    background-color: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 1px 2px #00000026;
    cursor: pointer;
}
.navigation-button_pages{
    height: 35px;
    min-height: 35px;
    width: 30px;
    min-width: 30px;
    align-self: center;
    box-shadow: 0 1px 2px #00000026;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    margin: 5px;

}